.LocationInfo {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.LocationInfo i {
    flex-basis: 100px;
    height: 100px;
    align-self: center;
    flex-grow: 1;
    padding: 2rem 2rem 0 2rem;
    text-align: center;
}

.Info {
    flex-basis: 350px;
    flex-grow: 6;
    padding: 2rem;
}
