.Content {
    margin: 2rem auto;
    max-width: 1280px;
}

.Row1,
.Row2 {
    display: flex;
    flex-wrap: wrap;
}

.Row2 {
    flex-direction: row-reverse;
}

.Dtco3,
.Mtco1324 {
    flex-basis: 230px;
    flex-grow: 1;
    padding: 2rem;
}

.Tahografi,
.ONama {
    flex-basis: 230px;
    flex-grow: 4;
    padding: 2rem;
}
