.LogoFull {
    background: url("../../assets/fena-bg.svg") repeat;
    margin: 20px auto;
    text-align: center;
    animation: fadein 4s;
}

.LogoFull h1 {
    color: #387d7a;
    font-weight: 400;
    font-size: 2.2rem;
    margin: 0 0 1rem 0;
    line-height: 100%;
}

.LogoFull {
    width: 100%;
}

.LogoFull img { // u slučaju da se u nekim browserima svg renderuje kao img
    width: 100%;
    max-width: 500px;
}

.Logo svg {
    width: 100%;
    height: 100%;
    max-width: 500px;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
