.Logo {
    box-sizing: border-box;
    text-align: center;
    margin: 20px auto;
    background: url("../../assets/fena-bg.svg") repeat;
}

.Logo h1 {
    color: #387d7a;
    font-weight: 400;
    font-size: 2.3rem;
    margin: 1rem 0;
}

.Logo img {
    width: 40%;
}
